[run]
source = src
omit =
    src/dfb/vulkan_engine.py
    src/dfb/grpc/flybrain_pb2.py
    src/dfb/grpc/flybrain_pb2_grpc.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING: